<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="Keywords" content="">

    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% block css %}{% endblock %}">
</head>
<body>
    <div class="container">
        <section>
            <header class="header">
                <div class="header-cont">
                    <a class="logo" href="/">logo</a>
                    <div class="web-menu">      <!--这一段是右上角那个个人按钮图标-->
                    {% if current_user.is_authenticated %}      <!--通过current_user判断用户是否已认证，User类中的3个is_xxx就是在这用的-->
                        <a class="profile-ico" href="/profile/{{current_user.id}}" title="{{current_user.username}}">{{current_user.username}}</a>
                    {% else %}              <!--未认证，则返回登录页-->
                        <a class="profile-ico" href="/regloginpage">注册/登录</a>
                    {% endif %}
                    </div>
                </div>
            </header>
            {% block content %}{% endblock %}
        </section>
    </div>
</body>
{% block js %}{% endblock %}
</html>